<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/atom.xml" />

  <link rel="stylesheet" href="{{ site.url }}/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="{{ site.url }}/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="{{ site.url }}/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="{{ site.url }}/">
      <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="{{ site.url }}/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><img src="{{ site.url }}/images/github.png" /></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><img src="{{ site.url }}/images/twitter.png"></a>
      <a href="{{ site.url }}/atom.xml" target="_blank"><img src="{{ site.url }}/images/rss.png" border="0"/></a>
      <br>
      <a href="http://en.wikipedia.org/wiki/User:Katyhuff" target="_blank"><img 
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Wikipedia-W-bold-in-square.svg/200px-Wikipedia-W-bold-in-square.svg.png" width="16" height="16" border="0"/></a> 
      <a href="http://stackoverflow.com/users/761664/katyhuff"><img src="{{ site.url }}/images/stackoverflow.png" width="16" height="16" border="0"/></a> 
      <a href="https://delicious.com/enigmakaty" targe="_blank"><img src="{{ site.url }}/images/delicious.png" border="0"/></a> 
      <br>
      <a href="http://inscight.org/author/katyhuff" target="blank_"/><img src="{{ site.url }}/images/inscight.png" /></a> 
      <a href="http://www.zotero.org/katyhuff" target="blank_"><img src="{{ 
        site.url }}/images/zotero.png" /></a>
      <a href="{{ site.url }}/atom.xml"><img src="{{ site.url }}/images/rss.png" /></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="{{ site.url }}/about.html">about</a></li>
        <li><a href="{{ site.url }}/">posts</a></li>
      </ul>
    </section>
  </section>

  {{ content }}
</body>

</html>
