<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/atom.xml" />

  <link rel="stylesheet" href="{{ site.url }}/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="{{ site.url }}/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="{{ site.url }}/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="{{ site.url }}/">
      <img src="{{ site.gravatar_url }}?s=150" height="90" width="90" class="avatar" />
    </a>

    <section class="name">
      <a href="{{ site.url }}/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github-alt fa-fw"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
      <a href="{{ site.url }}/atom.xml" target="_blank"><i class="fa fa-rss fa-fw"></i></a>
      <br>
      <a href="callto:+1-281-734-1342"><i class="fa fa-skype fa-fw"></i></a>
      <a href="http://bit.ly/khuffcal"><i class="fa fa-calendar fa-fw"></i></a>
      <a href="mailto:katyhuff@gmail.com"><i class="fa fa-envelope-o fa-fw"></i></a>
      <br>
      <a href="http://stackoverflow.com/users/761664/katyhuff" target="_blank"><i class="fa fa-stack-overflow fa-fw"></i></a>
      <a href="https://plus.google.com/105944382060485784655" target="blank_"/><i class="fa fa-google-plus fa-fw"></i></a>
      <a href="http://www.linkedin.com/profile/view?id=30623475" target="blank_"/><i class="fa fa-linkedin fa-fw"></i></a>
      <br>
      <a href="https://www.facebook.com/katy.huff.56" target="blank_"/><i class="fa fa-facebook-square fa-fw"></i></a> 
      <a href="https://delicious.com/enigmakaty" target="_blank"><i class="fa fa-delicious fa-fw"></i></a>
      <a href="https://katyhuff.wordpress.com" target="blank_"/><i class="fa fa-wordpress fa-fw"></i></a> 
      <br>
      <a href="http://inscight.org/author/katyhuff" target="blank_"/><img src="{{ site.url }}/images/inscight.png" width="12" border="0"/></a>
      <a href="http://www.zotero.org/katyhuff" target="blank_"><img src="{{ site.url }}/images/zotero.png" width="12" border="0"/></a>
      <a href="http://www.mendeley.com/profiles/kathryn-huff/" target="_blank"><img src="{{ site.url }}/images/mendeley.png" /></a>
      <br>
      <a href="http://www.goodreads.com/user/show/27255-katy-huff" target="blank_"/><img src="{{ site.url }}/images/gr.png" width="12" border="0"/></a>
      <a href="http://nuclearpride.wordpress.com/author/katyhuff/" target="blank_"/><img src="{{ site.url }}/images/np.png" width="12" border="0"/></a>
      <a href="http://en.wikipedia.org/wiki/User:Katyhuff" target="_blank"><img src="http://cdn.flaticon.com/png/256/33949.png" height="12" width="12" border="0"/></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="{{ site.url }}/">about</a></li>
        <li><a href="{{ site.url }}/posts.html">posts</a></li>
        <li><a href="{{ site.url }}/tags.html">tags</a></li>
      </ul>
    </section>
  </section>

  {{ content }}
</body>

</html>
